<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title> RocketFeetz Homepage</title>
</head>

<body>
    <div id="web"> 
        <b style="font-family: Georgia, 'Times New Roman', Times, serif; text-align: center">{{title}}</b> 

    </div>

    <!-- Includes Vue component in your app -->  
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- JavaScript will be implemented here-->
    <script>
        new Vue({
            el:"#web",
            data:{
                title: "Welcome to RocketFeetz!"
            }
        })
    </script>
</body>
</html>